<div class="about align-items-center">
  <div  class="d-flex align-items-center flex-column about-container ">
  <div class="profile">
  <%= image_tag('mer.png', class: "me img-fluid") %>
  </div>
  <div class="about-text">
    <h3 class="about-title">
      Danilo Zagarcanin
      </h3>
    <h3 class="about-title">
      Full-Stack Developer
    </h3>
    <p class="about-par">
      <strong>SKILLS:</strong>
      JavaScript (ES5/ES6), Ruby, HTML, CSS, Ruby on Rails, React, jQuery, Bootstrap, SQL, RSpec, Git, GitHub, Webpack, Heroku
    </p>
    <p class="about-par">
      <strong>RELEVANT EXPERIENCE:</strong>
      Microverse Student			        	 March 2019- Present
      Microverse, Remote
      Completed 300+  coding challenges on LeetCode, Hackerrank, Replit, Code Wars.
      Finished 30+  projects as part of the Microverse curriculum.
      Currently over 5+ published articles about web development.
      Published articles on HackerNoon, Medium and i wrote articles for Non-governmental
      organization that offers free courses for those who seek to become graphic designers
      and web developers.
      Freelance Full-Stack Developer				                January 2017 - February 2019
    </p>
    <p class="about-par">
      <strong>EDUCATION:</strong>

      Microverse, Certificate						      November 2018 - September 2019
      I spent 1100+ hours mastering algorithms, data structures, and full-stack development
      while simultaneously developing projects in Ruby, Rails, Javascript, React, and Redux.
      Developed skills in remote pair-programming, using Github, industry-standard git flows,
      and daily standups to communicate and collaborate with international remote developers.
      Student  at Computer Science University of Montenegro
    </p>
  </div>
  </div>
</div>