<main class="welcome container-fluid ">
  <div class="welcome-content d-flex justify-content-center ">
      <div class="media">
        <%= image_tag('mer.jpg', class: "me align-self-center mr-3") %>
        <div class="media-body mt-5">
          <h1 class="media-text">Hi there!
            My name is Danilo ZagarÄanin<br>
            and I am a Web Developer.</h1>
          <%= link_to "View my work", posts_path, class: "welcome-btn" %>
        </div>
        <%= social_share_button_tag(@post.name, :url => "https://gentle-dusk-43712.herokuapp.com") %>
      </div>
  </div>
  </div>
</main>
<!-- Footer -->
