<main class="welcome container-fluid">
<div class="welcome-content d-lg-flex flex-column align-items-center">
  <div class="welcome-container">
    <h2 class="welcome-text">Hi there!<br>
    My name is Danilo ZagarÄanin<br>
    and I am a Web Developer.</h2>
  <div>
 <%= link_to "View my work", posts_path, class: "welcome-btn" %>
  </div>
  </div>
</div>
</main>
<!-- Footer -->
