<% if user_signed_in?  %>
  <h1>Say Hello!</h1>
<div id="contact">
  <%= render 'contact_form' %>
</div>
<% else %>
  <div class="sign-up">
<h1 class="sign-up-txt">Sign up to contact me</h1>
<%= link_to "Sign Up", new_user_registration_path , class: "btn btn-primary btn-lg btn-block"  %>
  </div>
<% end %>