// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.posts {
  padding-top: 100px;
  .post-image{
    width: 500px;
    height: 400px;
  }
  .post-name{
    color: white;
  }
  .post-body{
    color: white;
    font-size: 17px;
  }
}
.post-form{
  padding-top: 150px;
}
.edit-form{
  padding-top: 150px;
}
